html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,figure,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none;top: 90vh;display: flex;flex-direction: row;}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
@font-face {
	font-family: unknown;
	src: "fonts/Unknown-PX.ttf";
}
@font-face {
	font-family: pixel;
	src: url(fonts/OnePixel.ttf);
}
@font-face {
	font-family: pixelsymbol;
	src: url(fonts/OnePixelNumbers.ttf);
}
@font-face {
	font-family: pixelnumber;
	src: url(fonts/OnePixelNumbers.ttf);
}
@font-face {
	src: url(fonts/SuisseIntl-Light.ttf);
	font-family: Suisse Int;
}

img {
	object-fit: contain;
	max-width: 100%;
}
video {
	object-fit: contain;
	max-width: 100%;
}

a {
	font-family: unset;
	font-weight: 900;
	text-decoration: none;
	font-style: normal;
}
/*open body*/ 
html,
body {
	height: auto;
	overflow: auto;
	width: 100vw;
	scroll-behavior: smooth;

}





/* open type styles*/


.large-title {
	font-family: titling-gothic-fb-extended, sans-serif;
	font-style: normal;
	font-weight: 900;
	line-height: 1em;
	letter-spacing: -0.05em;
	font-size: 11vw;
}
h1 {
	font-family: Suisse Int;
	font-weight: 900;
	font-size: 3rem;
	line-height: 48px;
}
h2 {
	font-size: 2.5rem;
	line-height: calc(1.6em + (1.5 - 1.2) * ((100vw - 300px)/(1799 - 300)));
	letter-spacing: .03em;
	text-align: left;
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 900;
	font-style: normal;
}
h4 {
	font-family: Suisse Int;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2rem;
}
h5 {
	font-family: Suisse Int;
	font-style: normal;
	font-weight: bold;
	font-size: 2.25rem;
}
h6 {
	font-family: Suisse Int;
	font-style: normal;
	font-size: 1.25rem;
}
.dropdown h5 {
	font-family: Suisse Int;
	font-style: normal;
	font-weight: normal;
	padding: 2vh 0vw 1vh 6vw;
	/* or 167% */
	background: none;
	color: #2C3238;
}
.dropdown h5:hover {
	background-color: Black;
	color: white;
}
em {
	font-family: pixel;
}
.large-title em {
	font-size: 7.75vw;
	letter-spacing: 0.05em;
}
.menu-items h5{
	font-family: suisse int;
	font-weight: 400;
	padding-left: 5vw;
	font-size: 4rem;
	line-height: 2em;
}
.gd-blue{
	color: #11EDD3;
	margin-bottom: 3vh;
}

.number {
	font-family: pixelnumber, sans-serif;
}
p {
	font-family: Suisse Int;
	font-style: normal;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1em;
	color: black;
	line-height: 1.25em;
	letter-spacing: .015em;
}

.menu-items h5::first-letter{
	font-family: pixel;
}
@media (max-width: 3000px) and (min-width: 1800px) {
	h1 {
		font-size: 3.75rem;
		line-height:1em;
		margin-bottom: 3vh;
		magin-top: 3vh;
		margin-top: 1vh;
	}
	.menu-items h5{
		font-size: 4rem;
		line-height: 2em;
	}
	
}
	@media (max-width: 1799px) and (min-width: 1200px) { 
		h1 {
			font-size: 1.9rem;
			line-height:1em;
			margin-bottom: 5vh;
		}
		.menu-items h5{
			font-size: 4rem;
			line-height: 2em;
		
}}
@media (max-width: 1199px) and (min-width: 899px) {
	h1 {
		font-size:1.9rem;
		line-height:1em;
	}

	.menu-items h5{
		font-size: 4rem;
		line-height: 2em;
	}

}
@media (max-width: 898px) and (min-width: 599px) { 
	h1 {
		font-size:1.9rem;
		line-height:1em;
	}
	.menu-items h5{
		font-size: 4rem;
		line-height: 2em;
	}
}
@media (max-width: 598px) and (min-width: 401px) {
	h1 {
		font-size:1.9rem;
		margin-bottom: 3vh;
		line-height: 1em;
	} 

	.menu-items h5{
		font-size: 4rem;
		line-height: 2em;
	}
}
@media (max-width: 400px) and (min-width: 0px) {
	h1 {
		font-size: 1.75rem;
		line-height:1em;
		margin-bottom: 4vh;
	}
	h5 {
		font-size: 1rem;
	}
	.menu-items h5{
		font-size: 3rem;
		line-height: 2em;
	}
}

/*Close type styles Section*/



/*Open Grid Structure*/

.grid {
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
	grid-auto-rows:1fr;
	top:0;
}
.grid::before {
	content:'';
	width:0;
	padding-bottom:100%;
	grid-row:1 / 1;
	grid-column:1 / 1;
}
.grid > *:first-child {
	grid-row:1 / 1;
	grid-column:1 / 1;
}
.webx-img-grid .grid > *:first-child {
	grid-row: 2/7;
	grid-column: 1/9;
}
/* Just to make the grid visible */

.grid > * {
	border-left:.1px gray solid;
	border-bottom:.1px gray solid;
}


/*Close Grid Structure*/


/*open Nav Bar*/
.header {
    display: flex;
    justify-content: space-evenly;
    background: white;
    flex-direction: row;
    height: 7vh;
    position: sticky;
    border-bottom: solid black .15px;
    align-items: flex-end;
    width: 100vw;
    top: 0;
}


svg#Logo_SVG {
    height: 5vh;
    width: 6vw;
}
.logo{
	height:;
	display: flex;
	z-index: 99;
	position: absolute;
	width: 100%;
	margin: 0vh 0vw 0vh 2vw;
	height: 100%;
}

.number{
	font-family:pixelnumber;
}
.nav-links{
	text-align: left;
	right: 0;
	display: block;
	transform: translateX(100%);
	transition: all ease-in-out .3s;
	text-align: center;
	top: 0;
	display: flex;
	flex-direction: column;
	transition: all ease-in-out .3s;
	justify-content: flex-start;
	align-items: left;
	transform: translate(1000%);
	justify-content: baseline;
}
.nav .nav-links{
	display: flex;
}
.burger{
	cursor: pointer;
	display: block;
	margin: 1vh 1vw 0vh 0vw;
	right: 0;
	top: 0;
	z-index: 9999;
	position: absolute;
}
.nav-active{
	padding-top: 0vh;
	position: absolute;
	height: 100vh;
	background: #11EDD3;
	padding: 0;
	margin: 0;
	text-align: left;
	width: 100vw;
	transform: translateX(0%);
	z-index: 1;
}
.change .svg {
	opacity: 0;
}
.change .svg {
	-webkit-transform: rotate(45deg) translate(-2px, -2px);
	transform: rotate(45deg) translate(0px, 1px);
}


li.menu-items {
    border-bottom: solid black .02px;
    background-color: none;
    width: 100vw;
}

.menu-items h5::first-letter{
	font-family: pixel;
}
.bar1 {
    margin: 6.5x;
    transition: all ease .3s;
}
.change .bar1 {
    transform: rotate(-90deg) translate(0px,0px);
}
li.menu-items.our-pixels-menu-item a{
	background:#161616;
	color: #11EDD3;
}

li.menu-items.our-story-menu-item a{
	color:#161616;
	background: #11EDD3;
}

li.menu-items a{
	width: 100vw;
	height: 50vh;
	display: flex;
	justify-content: left;
	align-items: center;
}
li.menu-items {
	border-bottom: solid black .02px;
	background-color: none;
	width: 100vw;
	height: 50vh;
	display: flex;
justify-content: left;
align-items: center;
	
}

@media (max-width: 3000px) and (min-width: 1800px) {
	.header{height: 5vh;}
	li.menu-items.our-pixels-menu-item a:hover{
		color:#161616;
		background: #11EDD3;
		
	}
	
	li.menu-items.our-story-menu-item a:hover{
		background:#161616;
		color: #11EDD3;
	}

	
	li.menu-items a{
		transition: ease .5s;
		width: 50vw;
		height: 100vh;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	li.menu-items {

		width: 50vw;
		height: 100vh;

		
	}
	.nav-links{
		flex-direction: row;
	}

}
@media (max-width: 1799px) and (min-width: 1200px) {

	.header{height: 7.2vh;}
	li.menu-items.our-pixels-menu-item a:hover{
		color:#161616;
		background: #11EDD3;
		
	}
	
	li.menu-items.our-story-menu-item a:hover{
		background:#161616;
		color: #11EDD3;
	}

	
	li.menu-items a{
		transition: ease .5s;
		width: 50vw;
		height: 100vh;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	li.menu-items {

		width: 50vw;
		height: 100vh;

		
	}
	.nav-links{
		flex-direction: row;
	}
			svg#Logo_SVG {
			height: 7vh;
			width: 9vw;
		}

}
@media (max-width: 1199px) and (min-width: 899px) {
	.header{
		height: 5vh;
		grid-column: 1/19;
		grid-row: 1/2;
		}
		
		svg#Logo_SVG {
			height: 5vh;
			width: 13vw;
		}
		li.menu-items.our-pixels-menu-item a:hover{
			color:#161616;
			background: #11EDD3;
			
		}
		
		li.menu-items.our-story-menu-item a:hover{
			background:#161616;
			color: #11EDD3;
		}
	
		
		li.menu-items a{
			transition: ease .5s;
			width: 50vw;
			height: 100vh;
			display: flex;
			justify-content: left;
			align-items: center;
		}
		li.menu-items {
	
			width: 50vw;
			height: 100vh;
	
			
		}
		.nav-links{
			flex-direction: row;
		}

}
@media (max-width: 898px) and (min-width: 599px) {
	.header{
		height: 9vh;
		grid-column: 1/15;
		grid-row: 1/2;
		}
		svg#Logo_SVG {
			height: 8vh;
			width: 16vw;
		}

}
@media (max-width: 598px) and (min-width: 401px) {
	.header{
		height: 6.6vh;
		}
		svg#Logo_SVG {
			height: 7vh;
			padding-left: 1rem;
			width: 30vw;
		}

}
@media (max-width: 400px) and (min-width: 0px) {
	.header{
		height: 9.3vh;
		}
		svg#Logo_SVG {
			height: 10vh;
			width: 32vw;
		}


	
	
}
/*close Nav Bar */

/*Welcome Section Open*/
.section-global-styles{
    padding: 2em;
    justify-content: center;
    flex-direction: column;
    background: white;
    display: flex;
    grid-column: 1/5;
}
.welcome-section {grid-row: 1/4;
	cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='47' viewBox='0 0 80 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.156 4.27958H20.9633V8.5629H25.156V4.27958Z' fill='%2311EDD3'/%3e%3cpath d='M29.3484 4.2834H25.1557V8.56672H29.3484V4.2834Z' fill='%2311EDD3'/%3e%3cpath d='M12.5781 8.53873H8.3854V12.8221H12.5781V8.53873Z' fill='%2311EDD3'/%3e%3cpath d='M16.7708 8.53873H12.5781V12.8221H16.7708V8.53873Z' fill='%2311EDD3'/%3e%3cpath d='M8.3854 12.8221L4.19264 12.8219V17.1053H8.38535L8.3854 12.8221Z' fill='%2311EDD3'/%3e%3cpath d='M4.19271 17.0545H0V21.3378H4.19271V17.0545Z' fill='%2311EDD3'/%3e%3cpath d='M4.19271 21.3378H0V25.6211H4.19271V21.3378Z' fill='%2311EDD3'/%3e%3cpath d='M8.38535 21.3378L4.19271 21.3378V25.6211H8.38535V21.3378Z' fill='%2311EDD3'/%3e%3cpath d='M12.5781 21.3378H8.38535V25.6211H12.5781V21.3378Z' fill='%2311EDD3'/%3e%3cpath d='M16.7708 21.3378H12.5781V25.6211H16.7708V21.3378Z' fill='%2311EDD3'/%3e%3cpath d='M20.9634 21.3378H16.7708V25.6211H20.9634V21.3378Z' fill='%2311EDD3'/%3e%3cpath d='M25.156 21.3378H20.9634V25.6211H25.156V21.3378Z' fill='%2311EDD3'/%3e%3cpath d='M29.3484 21.3378H25.156V25.6211H29.3484V21.3378Z' fill='%2311EDD3'/%3e%3cpath d='M33.5414 21.3378H29.3484V25.6211H33.5414V21.3378Z' fill='%2311EDD3'/%3e%3cpath d='M37.7341 21.3378H33.5414V25.6211H37.7341V21.3378Z' fill='%2311EDD3'/%3e%3cpath d='M33.5414 7.20366e-05H29.3487L29.3484 4.2834L33.5414 4.28339V7.20366e-05Z' fill='%2311EDD3'/%3e%3cpath d='M33.5414 4.27958H29.3487V8.5629H33.5414V4.27958Z' fill='%2311EDD3'/%3e%3cpath d='M41.9267 4.27958H37.734V8.5629H41.9267V4.27958Z' fill='%2311EDD3'/%3e%3cpath d='M33.5414 8.53676H29.3487V12.8201H33.5414V8.53676Z' fill='%2311EDD3'/%3e%3cpath d='M41.9267 8.56661H37.734V12.8499H41.9267V8.56661Z' fill='%2311EDD3'/%3e%3cpath d='M29.3487 7.20366e-05H25.1557V4.2834H29.3484L29.3487 7.20366e-05Z' fill='%2311EDD3'/%3e%3cpath d='M37.7341 7.20366e-05H33.5414V4.28339H37.7341V7.20366e-05Z' fill='%2311EDD3'/%3e%3cpath d='M41.9267 7.20366e-05H37.7341V4.28339H41.9267V7.20366e-05Z' fill='%2311EDD3'/%3e%3cpath d='M20.9633 4.27958H16.7707V8.5629H20.9633V4.27958Z' fill='%2311EDD3'/%3e%3cpath d='M20.9634 8.53676H16.7707V12.8201H20.9634V8.53676Z' fill='%2311EDD3'/%3e%3cpath d='M37.7341 25.6211L41.9265 25.621V21.3377L37.7341 21.3378V25.6211Z' fill='%2311EDD3'/%3e%3cpath d='M37.7337 21.334H41.9265V17.0507H37.7337V21.334Z' fill='%2311EDD3'/%3e%3cpath d='M37.7337 17.0507H41.9265V12.7674H37.7337V17.0507Z' fill='%2311EDD3'/%3e%3cpath d='M50.2587 21.334H54.4514V17.0507H50.2587V21.334Z' fill='%2311EDD3'/%3e%3cpath d='M37.7337 42.7167H41.9265V38.4334H37.7337V42.7167Z' fill='%2311EDD3'/%3e%3cpath d='M37.7337 38.4334H41.9265V34.1501H37.7337V38.4334Z' fill='%2311EDD3'/%3e%3cpath d='M37.7337 34.1501H41.9265V29.8669H37.7337V34.1501Z' fill='%2311EDD3'/%3e%3cpath d='M37.7337 29.8573H41.9265V25.574H37.7337V29.8573Z' fill='%2311EDD3'/%3e%3cpath d='M37.7337 47H41.9265V42.7167H37.7337V47Z' fill='%2311EDD3'/%3e%3cpath d='M25.156 38.4334H20.9633V42.7167H25.156V38.4334Z' fill='%2311EDD3'/%3e%3cpath d='M29.3484 38.4334H25.156V42.7167H29.3484V38.4334Z' fill='%2311EDD3'/%3e%3cpath d='M12.5781 34.1502H8.3854V38.4335H12.5781V34.1502Z' fill='%2311EDD3'/%3e%3cpath d='M16.7708 34.1502H12.5781V38.4335H16.7708V34.1502Z' fill='%2311EDD3'/%3e%3cpath d='M8.38535 29.8669H4.19264V34.1502L8.3854 34.1502L8.38535 29.8669Z' fill='%2311EDD3'/%3e%3cpath d='M4.19271 25.5742H0V29.8575H4.19271V25.5742Z' fill='%2311EDD3'/%3e%3cpath d='M33.5414 42.7167L29.3484 42.7167L29.3487 47H33.5414V42.7167Z' fill='%2311EDD3'/%3e%3cpath d='M33.5414 38.4334H29.3484V42.7167L33.5414 42.7167V38.4334Z' fill='%2311EDD3'/%3e%3cpath d='M33.5414 34.1502H29.3487L29.3484 38.4334H33.5414V34.1502Z' fill='%2311EDD3'/%3e%3cpath d='M29.3484 42.7167H25.156L25.1557 47H29.3487L29.3484 42.7167Z' fill='%2311EDD3'/%3e%3cpath d='M37.7337 42.7167L33.5414 42.7167V47L37.7337 47V42.7167Z' fill='%2311EDD3'/%3e%3cpath d='M20.9633 38.4334L16.7708 38.4335L16.7707 42.7167H20.9633V38.4334Z' fill='%2311EDD3'/%3e%3cpath d='M20.9634 34.1502H16.7708V38.4335L20.9633 38.4334L20.9634 34.1502Z' fill='%2311EDD3'/%3e%3cpath d='M54.4515 8.56271H58.6442V4.27939H54.4515V8.56271Z' fill='%2311EDD3'/%3e%3cpath d='M50.2845 8.56655H54.4772V4.28323H50.2845V8.56655Z' fill='%2311EDD3'/%3e%3cpath d='M67.0185 12.822L71.2112 12.822V8.53868H67.0185V12.822Z' fill='%2311EDD3'/%3e%3cpath d='M62.8261 12.822H67.0185V8.53868H62.8261V12.822Z' fill='%2311EDD3'/%3e%3cpath d='M71.2113 17.1053L75.404 17.1053V12.822L71.2112 12.822L71.2113 17.1053Z' fill='%2311EDD3'/%3e%3cpath d='M75.404 21.3378H79.5967V17.0545H75.404V21.3378Z' fill='%2311EDD3'/%3e%3cpath d='M75.404 25.621H79.5967V21.3378H75.404V25.621Z' fill='%2311EDD3'/%3e%3cpath d='M71.2113 25.621H75.404V21.3378L71.2113 21.3377V25.621Z' fill='%2311EDD3'/%3e%3cpath d='M67.0185 25.621H71.2113V21.3377H67.0185V25.621Z' fill='%2311EDD3'/%3e%3cpath d='M62.8261 25.621H67.0185V21.3377H62.8261V25.621Z' fill='%2311EDD3'/%3e%3cpath d='M58.6334 25.621H62.8261V21.3377H58.6334V25.621Z' fill='%2311EDD3'/%3e%3cpath d='M54.4515 25.621H58.6442V21.3377H54.4515V25.621Z' fill='%2311EDD3'/%3e%3cpath d='M50.2587 25.621H54.4515V21.3377H50.2587V25.621Z' fill='%2311EDD3'/%3e%3cpath d='M46.1193 25.621H50.312V21.3377H46.1193V25.621Z' fill='%2311EDD3'/%3e%3cpath d='M41.9265 25.621H46.1193V21.3377H41.9265V25.621Z' fill='%2311EDD3'/%3e%3cpath d='M46.1193 4.28332H50.312V1.9231e-10L46.1193 0V4.28332Z' fill='%2311EDD3'/%3e%3cpath d='M46.1193 8.56271H50.312V4.27939H46.1193V8.56271Z' fill='%2311EDD3'/%3e%3cpath d='M46.1193 12.8201L50.312 12.8201V8.53681H46.1193V12.8201Z' fill='%2311EDD3'/%3e%3cpath d='M50.2587 17.0771H54.4514V12.7938H50.2587V17.0771Z' fill='%2311EDD3'/%3e%3cpath d='M25.1559 21.334H29.3487V17.0507H25.1559V21.334Z' fill='%2311EDD3'/%3e%3cpath d='M25.1559 17.0771H29.3487V12.7938H25.1559V17.0771Z' fill='%2311EDD3'/%3e%3cpath d='M50.2587 34.1502H54.4514V29.8669H50.2587V34.1502Z' fill='%2311EDD3'/%3e%3cpath d='M50.2587 29.8573H54.4514V25.574H50.2587V29.8573Z' fill='%2311EDD3'/%3e%3cpath d='M62.8314 21.334H67.0241V17.0507H62.8314V21.334Z' fill='%2311EDD3'/%3e%3cpath d='M62.8314 17.0771H67.0241V12.7938H62.8314V17.0771Z' fill='%2311EDD3'/%3e%3cpath d='M62.8314 34.1502H67.0241V29.8669H62.8314V34.1502Z' fill='%2311EDD3'/%3e%3cpath d='M62.8314 29.8573H67.0241V25.574H62.8314V29.8573Z' fill='%2311EDD3'/%3e%3cpath d='M12.5778 21.334H16.7705V17.0507H12.5778V21.334Z' fill='%2311EDD3'/%3e%3cpath d='M12.5778 17.0771H16.7705V12.7938H12.5778V17.0771Z' fill='%2311EDD3'/%3e%3cpath d='M12.5781 34.1502H16.7708L16.7705 29.8669H12.5778L12.5781 34.1502Z' fill='%2311EDD3'/%3e%3cpath d='M12.5778 29.8573H16.7705V25.574H12.5778V29.8573Z' fill='%2311EDD3'/%3e%3cpath d='M25.1559 34.1502L29.3487 34.1502L29.3487 29.8669H25.1559V34.1502Z' fill='%2311EDD3'/%3e%3cpath d='M25.1559 29.8573H29.3487V25.574H25.1559V29.8573Z' fill='%2311EDD3'/%3e%3cpath d='M50.2845 4.28323H54.4772V1.9231e-10L50.2845 0V4.28323Z' fill='%2311EDD3'/%3e%3cpath d='M41.9267 4.28339L46.1193 4.28332V0L41.9267 7.20366e-05V4.28339Z' fill='%2311EDD3'/%3e%3cpath d='M58.6334 8.56271H62.8261V4.27939H58.6334V8.56271Z' fill='%2311EDD3'/%3e%3cpath d='M58.6334 12.8201L62.8261 12.8201V8.53681H58.6334V12.8201Z' fill='%2311EDD3'/%3e%3cpath d='M54.4515 42.7167H58.6442V38.4334H54.4515V42.7167Z' fill='%2311EDD3'/%3e%3cpath d='M50.2845 42.7167H54.4772V38.4334H50.2845V42.7167Z' fill='%2311EDD3'/%3e%3cpath d='M67.0185 38.4334H71.2112V34.1501H67.0185V38.4334Z' fill='%2311EDD3'/%3e%3cpath d='M62.8261 38.4334H67.0185V34.1501H62.8261V38.4334Z' fill='%2311EDD3'/%3e%3cpath d='M71.2112 34.1501L75.404 34.1502V29.8669H71.2113L71.2112 34.1501Z' fill='%2311EDD3'/%3e%3cpath d='M75.404 29.8573H79.5967V25.574H75.404V29.8573Z' fill='%2311EDD3'/%3e%3cpath d='M46.1193 47H50.312V42.7166H46.1193V47Z' fill='%2311EDD3'/%3e%3cpath d='M46.1193 42.7166H50.312V38.4334H46.1193V42.7166Z' fill='%2311EDD3'/%3e%3cpath d='M46.1193 38.4334H50.312V34.1501H46.1193V38.4334Z' fill='%2311EDD3'/%3e%3cpath d='M50.2845 47H54.4772V42.7167H50.2845V47Z' fill='%2311EDD3'/%3e%3cpath d='M41.9265 47H46.1193V42.7166L41.9265 42.7167V47Z' fill='%2311EDD3'/%3e%3cpath d='M58.6334 42.7167H62.8261L62.8261 38.4334L58.6334 38.4334V42.7167Z' fill='%2311EDD3'/%3e%3cpath d='M58.6334 38.4334L62.8261 38.4334V34.1501H58.6334V38.4334Z' fill='%2311EDD3'/%3e%3c/svg%3e  "), pointer;
  
}
.our-story-header-section {
	grid-row: 7/9;
	cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg width='65' height='50' viewBox='0 0 65 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.6667 0H16.2499V5.55569H21.6667V0Z' fill='%2311EDD3'/%3e%3cpath d='M32.4998 0H27.083V5.55569H32.4998V0Z' fill='%2311EDD3'/%3e%3cpath d='M21.6667 44.4443H16.2499V50H21.6667V44.4443Z' fill='%2311EDD3'/%3e%3cpath d='M37.9166 44.4443H32.4997V50H37.9166V44.4443Z' fill='%2311EDD3'/%3e%3cpath d='M48.7501 0H43.3332V5.55569H48.7501V0Z' fill='%2311EDD3'/%3e%3cpath d='M48.7501 44.4443H43.3332V50H48.7501V44.4443Z' fill='%2311EDD3'/%3e%3cpath d='M5.41685 22.2221H0V27.7779H5.41685V22.2221Z' fill='%2311EDD3'/%3e%3cpath d='M27.0835 16.6663H21.6666V22.2221H27.0835V16.6663Z' fill='%2311EDD3'/%3e%3cpath d='M43.3339 16.6663H37.917V22.2221H43.3339V16.6663Z' fill='%2311EDD3'/%3e%3cpath d='M48.7501 27.7772H43.3332V33.3329H48.7501V27.7772Z' fill='%2311EDD3'/%3e%3cpath d='M21.6667 27.7772H16.2499V33.3329H21.6667V27.7772Z' fill='%2311EDD3'/%3e%3cpath d='M10.8337 11.1109H5.4169V16.6666H10.8337V11.1109Z' fill='%2311EDD3'/%3e%3cpath d='M10.8337 33.333H5.4169V38.8887H10.8337V33.333Z' fill='%2311EDD3'/%3e%3cpath d='M16.2499 5.55569L10.8331 5.55573V11.1114H16.25L16.2499 5.55569Z' fill='%2311EDD3'/%3e%3cpath d='M16.25 38.889H10.8331V44.4447H16.25V38.889Z' fill='%2311EDD3'/%3e%3cpath d='M5.41713 16.6664H0.000274774L0 22.2221H5.41685L5.41713 16.6664Z' fill='%2311EDD3'/%3e%3cpath d='M5.41685 27.7771H0V33.3328L5.4169 33.333L5.41685 27.7771Z' fill='%2311EDD3'/%3e%3cpath d='M54.1663 38.8886H59.5831V33.3328H54.1663V38.8886Z' fill='%2311EDD3'/%3e%3cpath d='M54.1663 16.6665H59.5831V11.1108H54.1663V16.6665Z' fill='%2311EDD3'/%3e%3cpath d='M48.7501 44.4443H54.1669V38.8886H48.75L48.7501 44.4443Z' fill='%2311EDD3'/%3e%3cpath d='M48.75 11.1108H54.1669V5.55505H48.75V11.1108Z' fill='%2311EDD3'/%3e%3cpath d='M59.5832 33.3338H65V27.7781H59.5832V33.3338Z' fill='%2311EDD3'/%3e%3cpath d='M59.5832 22.2225H65V16.6668H59.5832V22.2225Z' fill='%2311EDD3'/%3e%3cpath d='M43.3339 33.333H37.917V38.8887H43.3339V33.333Z' fill='%2311EDD3'/%3e%3cpath d='M37.9166 33.333H32.4997V38.8887H37.9166V33.333Z' fill='%2311EDD3'/%3e%3cpath d='M27.0835 33.333L21.6667 33.3329L21.6666 38.8887H27.0835V33.333Z' fill='%2311EDD3'/%3e%3cpath d='M65 22.2221H59.5831V27.7778H65V22.2221Z' fill='%2311EDD3'/%3e%3c/svg%3e "), pointer;
  
  


}
.pixels-poem-section {
	grid-row: 10/17;
	cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg width='126' height='108' viewBox='0 0 126 108' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M36 0H54V18H36V0Z' fill='%2311EDD3'/%3e%3cpath d='M18 0H36V18H18V0Z' fill='%2311EDD3'/%3e%3cpath d='M0 18H18V36H0V18Z' fill='%2311EDD3'/%3e%3cpath d='M0 36H18V54H0V36Z' fill='%2311EDD3'/%3e%3cpath d='M18.25 53.75H36.25V71.75H18.25V53.75Z' fill='%2311EDD3'/%3e%3cpath d='M36.25 71.75H54.25V89.75H36.25V71.75Z' fill='%2311EDD3'/%3e%3cpath d='M71.75 0H89.75V18H71.75V0Z' fill='%2311EDD3'/%3e%3cpath d='M89.75 0H107.75V18H89.75V0Z' fill='%2311EDD3'/%3e%3cpath d='M108 18H126V36H108V18Z' fill='%2311EDD3'/%3e%3cpath d='M108 36H126V54H108V36Z' fill='%2311EDD3'/%3e%3cpath d='M90 53.5H108V71.5H90V53.5Z' fill='%2311EDD3'/%3e%3cpath d='M72 71.5H90V89.5H72V71.5Z' fill='%2311EDD3'/%3e%3cpath d='M54 17.75H72V35.75H54V17.75Z' fill='%2311EDD3'/%3e%3cpath d='M54 90H72V108H54V90Z' fill='%2311EDD3'/%3e%3c/svg%3e"), pointer;
  
  

}
.our-pixels-arrow-next {
    grid-row: 5/6;
	flex-direction: row;
	cursor: url("data:image/svg+xml,%3Csvg width='75' height='50' viewBox='0 0 75 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M7.50022 21.123H0V28.164H7.50022V21.123Z'  fill='%2311EDD3'/%3E%3Cpath d='M15.0007 21.123H7.50049V28.164H15.0007V21.123Z'  fill='%2311EDD3'/%3E%3Cpath d='M22.5007 21.123H15.0005V28.164H22.5007V21.123Z'  fill='%2311EDD3'/%3E%3Cpath d='M29.9997 21.123H22.4995V28.164H29.9997V21.123Z'  fill='%2311EDD3'/%3E%3Cpath d='M37.4997 21.123H29.9995V28.164H37.4997V21.123Z'  fill='%2311EDD3'/%3E%3Cpath d='M45.0002 21.123H37.5V28.164H45.0002V21.123Z'  fill='%2311EDD3'/%3E%3Cpath d='M52.5002 21.123H45V28.164H52.5002V21.123Z'  fill='%2311EDD3'/%3E%3Cpath d='M60.0007 28.1641H52.5005V35.205H60.0007V28.1641Z'  fill='%2311EDD3'/%3E%3Cpath d='M67.4997 21.123H59.9995V28.164H67.4997V21.123Z'  fill='%2311EDD3'/%3E%3Cpath d='M75.0002 21.123H67.5V28.164H75.0002V21.123Z'  fill='%2311EDD3'/%3E%3Cpath d='M60.0007 7.04199H52.5005V14.083H60.0007V7.04199Z'  fill='%2311EDD3'/%3E%3Cpath d='M52.5002 0.000976562H45V7.04195H52.5002V0.000976562Z'  fill='%2311EDD3'/%3E%3Cpath d='M60.0007 35.2051H52.5005V42.2461H60.0007V35.2051Z'  fill='%2311EDD3'/%3E%3Cpath d='M52.5002 42.2461H45V49.2871H52.5002V42.2461Z'  fill='%2311EDD3'/%3E%3Cpath d='M67.4997 14.083H59.9995V21.124H67.4997V14.083Z'  fill='%2311EDD3'/%3E%3Cpath d='M67.4997 28.1641H59.9995V35.205H67.4997V28.1641Z'  fill='%2311EDD3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='75' height='49.2858' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"), pointer;}

.our-pixels-arrow-next.section-global-styles {}
.unknown-symbol{
	font-family: unknown;
	
}

#arrow_svg{
height:3vh;
margin-left: 3vw;
color: #11EDD3;

}
.checkers_svg{
	grid-row:6/7;
	grid-column: 9/10;
	opacity: 0;
	height: ;
	transition: all ease-in-out .4s;
}
.checkers_svg:hover{
opacity: 1;
}


@media (max-width: 3000px) and (min-width: 1800px) {
	#arrow_svg{
	display: none;}
		
		
	.welcome-section {
		grid-row: 2/10;
		padding: 6em;
		grid-column: 2/16;
		}
	.our-story-header-section {
		grid-row: 11/15;
		grid-column: 9/14;
		grid-column: 3/8;
		}
	.pixels-poem-section {
		grid-row: 14/25;
		grid-column: 13/26;
		}
	.our-pixels-arrow-next {
		grid-row: 11/12;
		padding: 1em;
		grid-column: 15/22;
		}
}
@media (max-width: 1799px) and (min-width: 1200px) {
	.welcome-section {
	grid-row: 2/6;
	grid-column: 2/9;
	}
.our-story-header-section {
	grid-row: 9/11;
	grid-column: 9/14;
	grid-column: 2/5;
	}
.pixels-poem-section {
    grid-row: 9/16;
    grid-column: 6/13;
    }
.our-pixels-arrow-next {
    grid-row: 7/8;
    grid-column: 7/11;
    }}
@media (max-width: 1199px) and (min-width: 899px) {}
@media (max-width: 898px) and (min-width: 599px) {}
@media (max-width: 598px) and (min-width: 401px) {}
@media (max-width: 400px) and (min-width: 0px) {}


/*smiley scroll open*/
body {
  background-color: #fafafa;
  height:2000px;
}

div.container-smiley-logo {
  display: flex;
  height: 10vh;
  width: 20%;
  top: 50vh;
  right: 0;
  position:fixed;
  z-index: 999;
}

svg#logo {
  width:;
height:;
  transition: all, .2s ease-out;
}





/*smiley scroll close*/