html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,figure,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none;top: 90vh;display: flex;flex-direction: row;}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
@font-face {
	font-family: unknown;
	src: "fonts/Unknown-PX.ttf";
}
@font-face {
	font-family: pixel;
	src: url(fonts/OnePixel.ttf);
}
@font-face {
	font-family: pixelsymbol;
	src: url(fonts/OnePixelNumbers.ttf);
}
@font-face {
	font-family: pixelnumber;
	src: url(fonts/OnePixelNumbers.ttf);
}
@font-face {
	src: url(fonts/SuisseIntl-Light.ttf);
	font-family: Suisse Int;
}

img {
	object-fit: contain;
	max-width: 100%;
}
video {
	object-fit: contain;
	max-width: 100%;
}

a {
	font-family: unset;
	font-weight: 900;
	text-decoration: none;
	font-style: normal;
}
/*open body*/ 
html,
body {
	height: auto;
	overflow: auto;
	width: 100vw;
	scroll-behavior: smooth;

}





/* open type styles*/


.large-title {
	font-family: titling-gothic-fb-extended, sans-serif;
	font-style: normal;
	font-weight: 900;
	line-height: 1em;
	letter-spacing: -0.05em;
	font-size: 11vw;
}
h1 {
	font-family: Suisse Int;
	font-weight: 900;
	font-size: 3rem;
	line-height: 48px;
}
h2 {
	font-size: 2.5rem;
	line-height: calc(1.6em + (1.5 - 1.2) * ((100vw - 300px)/(1799 - 300)));
	letter-spacing: .03em;
	text-align: left;
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 900;
	font-style: normal;
}
h4 {
	font-family: Suisse Int;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2rem;
}
h5 {
	font-family: Suisse Int;
	font-style: normal;
	font-weight: bold;
	font-size: 2.25rem;
}
h6 {
	font-family: Suisse Int;
	font-style: normal;
	font-size: 1.25rem;
}
.dropdown h5 {
	font-family: Suisse Int;
	font-style: normal;
	font-weight: normal;
	padding: 2vh 0vw 1vh 6vw;
	/* or 167% */
	background: none;
	color: #2C3238;
}
.dropdown h5:hover {
	background-color: Black;
	color: white;
}
em {
	font-family: pixel;
}
.large-title em {
	font-size: 7.75vw;
	letter-spacing: 0.05em;
}
.menu-items h5{
	font-family: suisse int;
	font-weight: 400;
	padding-left: 5vw;
	font-size: 4rem;
	line-height: 2em;
}
.gd-blue{
	color: #11EDD3;
	margin-bottom: 3vh;
}

.number {
	font-family: pixelnumber, sans-serif;
}
p {
	font-family: Suisse Int;
	font-style: normal;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1em;
	color: black;
	line-height: 1.25em;
	letter-spacing: .015em;
}

.menu-items h5::first-letter{
	font-family: pixel;
}
@media (max-width: 3000px) and (min-width: 1800px) {
	h1 {
		font-size: 3.75rem;
		line-height:1em;
		margin-bottom: 3vh;

		margin-top: 1vh;
	}
	.menu-items h5{
		font-size: 4rem;
		line-height: 2em;
	}
	
}
	@media (max-width: 1799px) and (min-width: 1200px) { 
		h1 {
			font-size: 1.9rem;
			line-height:1em;
			margin-bottom: 5vh;
		}
		.menu-items h5{
			font-size: 4rem;
			line-height: 2em;
		
}}
@media (max-width: 1199px) and (min-width: 899px) {
	h1 {
		font-size:1.9rem;
		line-height:1em;
	}

	.menu-items h5{
		font-size: 4rem;
		line-height: 2em;
	}

}
@media (max-width: 898px) and (min-width: 599px) { 
	h1 {
		font-size:1.9rem;
		line-height:1em;
	}
	.menu-items h5{
		font-size: 4rem;
		line-height: 2em;
	}
}
@media (max-width: 598px) and (min-width: 401px) {
	h1 {
		font-size:1.9rem;
		margin-bottom: 3vh;
		line-height: 1em;
	} 

	.menu-items h5{
		font-size: 4rem;
		line-height: 2em;
	}
}
@media (max-width: 400px) and (min-width: 0px) {
	h1 {
		font-size: 1.75rem;
		line-height:1em;
		margin-bottom: 4vh;
	}
	h5 {
		font-size: 1rem;
	}
	.menu-items h5{
		font-size: 3rem;
		line-height: 2em;
	}
}

/*Close type styles Section*/



/*Open Grid Structure*/

.grid {
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
	grid-auto-rows:1fr;
	top:0;
}
.grid::before {
	content:'';
	width:0;
	padding-bottom:100%;
	grid-row:1 / 1;
	grid-column:1 / 1;
}
.grid > *:first-child {
	grid-row:1 / 1;
	grid-column:1 / 1;
}
.webx-img-grid .grid > *:first-child {
	grid-row: 2/7;
	grid-column: 1/9;
}
/* Just to make the grid visible */

.grid > * {
	border-left:.1px gray solid;
	border-bottom:.1px gray solid;
}


/*Close Grid Structure*/


/*open Nav Bar*/
.header {
    display: flex;
    justify-content: space-evenly;
    background: white;
    flex-direction: row;
    height: 7vh;
    position: sticky;
    border-bottom: solid black .15px;
    align-items: flex-end;
    width: 100vw;
    top: 0;
}


svg#Logo_SVG {
    height: 5vh;
    width: 6vw;
}
.logo{

	display: flex;
	z-index: 99;
	position: absolute;
	width: 100%;
	margin: 0vh 0vw 0vh 2vw;
	height: 100%;
}

.number{
	font-family:pixelnumber;
}
.nav-links{
	text-align: left;
	right: 0;
	display: block;
	transform: translateX(100%);
	transition: all ease-in-out .3s;
	text-align: center;
	top: 0;
	display: flex;
	flex-direction: column;
	transition: all ease-in-out .3s;
	justify-content: flex-start;
	align-items: left;
	transform: translate(1000%);
	justify-content: baseline;
}
.nav .nav-links{
	display: flex;
}
.burger{
	cursor: pointer;
	display: block;
	margin: 1vh 1vw 0vh 0vw;
	right: 0;
	top: 0;
	z-index: 9999;
	position: absolute;
}
.nav-active{
	padding-top: 0vh;
	position: absolute;
	height: 100vh;
	background: #11EDD3;
	padding: 0;
	margin: 0;
	text-align: left;
	width: 100vw;
	transform: translateX(0%);
	z-index: 1;
}
.change .svg {
	opacity: 0;
}
.change .svg {
	-webkit-transform: rotate(45deg) translate(-2px, -2px);
	transform: rotate(45deg) translate(0px, 1px);
}


li.menu-items {
    border-bottom: solid black .02px;
    background-color: none;
    width: 100vw;
}

.menu-items h5::first-letter{
	font-family: pixel;
}
.bar1 {
    margin: 6.5x;
    transition: all ease .3s;
}
.change .bar1 {
    transform: rotate(-90deg) translate(0px,0px);
}
li.menu-items.our-pixels-menu-item a{
	background:#161616;
	color: #11EDD3;
}

li.menu-items.our-story-menu-item a{
	color:#161616;
	background: #11EDD3;
}

li.menu-items a{
	width: 100vw;
	height: 50vh;
	display: flex;
	justify-content: left;
	align-items: center;
}
li.menu-items {
	border-bottom: solid black .02px;
	background-color: none;
	width: 100vw;
	height: 50vh;
	display: flex;
justify-content: left;
align-items: center;
	
}

@media (max-width: 3000px) and (min-width: 1800px) {
	.header{height: 5vh;}
	li.menu-items.our-pixels-menu-item a:hover{
		color:#161616;
		background: #11EDD3;
		
	}
	
	li.menu-items.our-story-menu-item a:hover{
		background:#161616;
		color: #11EDD3;
	}

	
	li.menu-items a{
		transition: ease .5s;
		width: 50vw;
		height: 100vh;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	li.menu-items {

		width: 50vw;
		height: 100vh;

		
	}
	.nav-links{
		flex-direction: row;
	}

}
@media (max-width: 1799px) and (min-width: 1200px) {

	.header{height: 7.2vh;}
	li.menu-items.our-pixels-menu-item a:hover{
		color:#161616;
		background: #11EDD3;
		
	}
	
	li.menu-items.our-story-menu-item a:hover{
		background:#161616;
		color: #11EDD3;
	}

	
	li.menu-items a{
		transition: ease .5s;
		width: 50vw;
		height: 100vh;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	li.menu-items {

		width: 50vw;
		height: 100vh;

		
	}
	.nav-links{
		flex-direction: row;
	}
			svg#Logo_SVG {
			height: 7vh;
			width: 9vw;
		}

}
@media (max-width: 1199px) and (min-width: 899px) {
	.header{
		height: 5vh;
		grid-column: 1/19;
		grid-row: 1/2;
		}
		
		svg#Logo_SVG {
			height: 5vh;
			width: 13vw;
		}
		li.menu-items.our-pixels-menu-item a:hover{
			color:#161616;
			background: #11EDD3;
			
		}
		
		li.menu-items.our-story-menu-item a:hover{
			background:#161616;
			color: #11EDD3;
		}
	
		
		li.menu-items a{
			transition: ease .5s;
			width: 50vw;
			height: 100vh;
			display: flex;
			justify-content: left;
			align-items: center;
		}
		li.menu-items {
	
			width: 50vw;
			height: 100vh;
	
			
		}
		.nav-links{
			flex-direction: row;
		}

}
@media (max-width: 898px) and (min-width: 599px) {
	.header{
		height: 9vh;
		grid-column: 1/15;
		grid-row: 1/2;
		}
		svg#Logo_SVG {
			height: 8vh;
			width: 16vw;
		}

}
@media (max-width: 598px) and (min-width: 401px) {
	.header{
		height: 6.6vh;
		}
		svg#Logo_SVG {
			height: 7vh;
			padding-left: 1rem;
			width: 30vw;
		}

}
@media (max-width: 400px) and (min-width: 0px) {
	.header{
		height: 9.3vh;
		}
		svg#Logo_SVG {
			height: 10vh;
			width: 32vw;
		}


	
	
}
/*close Nav Bar */

/*Welcome Section Open*/
.section-global-styles{
    padding: 1em;
    justify-content: center;
    flex-direction: column;
    background: white;
    display: flex;
    grid-column: 1/5;
}
.welcome-section {grid-row: 1/4;
	
  
}
.our-story-header-section {
	grid-row: 7/9;

}
.pixels-poem-section {
	grid-row: 9/19;
}
.our-pixels-arrow-next {
    grid-row: 5/7;
    flex-direction: row;


}
.pixels-poem-section {
	grid-row: 10/17;

  

}
.our-pixels-arrow-next {
    grid-row: 5/6;
	flex-direction: row;
}

.unknown-symbol{
	font-family: unknown;
	

}

#arrow_svg{
height:3vh;
margin-left: 3vw;
color: #11EDD3;

}
.checkers_svg{
	grid-row:6/7;
	grid-column: 9/10;
	opacity: 0;

	transition: all ease-in-out .4s;
}
.checkers_svg:hover{
opacity: 1;
}


@media (max-width: 3000px) and (min-width: 1800px) {


}

#arrow_svg{
height:3vh;
margin-left: 3vw;
color: #11EDD3;

}
.checkers_svg{
	grid-row:6/7;
	grid-column: 9/10;
	opacity: 0;
	
	transition: all ease-in-out .4s;
}
.checkers_svg:hover{
opacity: 1;
}


@media (max-width: 3000px) and (min-width: 1800px) {
	#arrow_svg{
	display: none;}

	.welcome-section {
		grid-row: 2/10;
		padding: 6em;
		grid-column: 2/16;
		}
	.our-story-header-section {
		grid-row: 11/15;
		grid-column: 9/14;
		grid-column: 3/8;
		}
	.pixels-poem-section {

		grid-row: 14/27;
		grid-column: 13/26;
		padding: 2vw 3vh 3vw 6vh;

		grid-row: 14/25;
		grid-column: 13/26;
	}
	.our-pixels-arrow-next {
		grid-row: 11/12;
		padding: 1em;
		grid-column: 15/22;
		}
}
@media (max-width: 1799px) and (min-width: 1200px) {
	.welcome-section {
	grid-row: 2/6;
	grid-column: 2/9;
	}
.our-story-header-section {
	grid-row: 9/11;
	grid-column: 9/14;
	grid-column: 2/5;
	}
.pixels-poem-section {
    grid-row: 9/16;
    grid-column: 6/13;
    }
.our-pixels-arrow-next {
    grid-row: 7/8;
    grid-column: 7/11;
    }}
@media (max-width: 1199px) and (min-width: 899px) {}
@media (max-width: 898px) and (min-width: 599px) {}
@media (max-width: 598px) and (min-width: 401px) {}
@media (max-width: 400px) and (min-width: 0px) {}


/*smiley scroll open*/
body {
  background-color: #fafafa;
  height:2000px;
}

div.container-smiley-logo {
  display: flex;
  height: 10vh;
  width: 20%;
  top: 50vh;
  right: 0;
  position:fixed;
  z-index: 999;
}

svg#logo {

  transition: all, .2s ease-out;
}





/*smiley scroll close*/