html{color:#161616;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,figure,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none;top: 90vh;display: flex;flex-direction: row;}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#161616}#yui3-css-stamp.cssreset{display:none}
@font-face {
	font-family: unknown;
	src: "fonts/Unknown-PX.ttf";
}

@font-face {
	font-family: Suisse Int Med;
	src: url(fonts/SuisseIntl-Medium.otf);
}

@font-face {
	font-family: pixel;
	src: url(fonts/OnePixel.ttf);
}

@font-face {
	font-family: pixelsymbol;
	src: url(fonts/OnePixelNumbers.ttf);
}

@font-face {
	src: url(fonts/SuisseIntl-Light.ttf);
	font-family: Suisse Int;
}

img {
	object-fit: contain;
	max-width: 100%;
}

video {
	object-fit: contain;
	max-width: 100%;
}

a {
	font-family: unset;
	text-decoration: none;
	color: #161616;
}


/*open body*/

html,
body {
	height: auto;
	overflow-x: hidden;
	width: 100vw;
	scroll-behavior: smooth;
}


/* open type styles*/

* {
	font-style: normal;
	font-family: Suisse Int;
	box-sizing: border-box;
	cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M30.3078 33.6671L33.6669 37.0262L37.026 33.6671L33.6669 30.3081L30.3078 33.6671Z' fill='black'/%3e%3cpath d='M26.9486 30.3082L30.3078 33.6671L33.6669 30.3081L30.3077 26.9491L26.9486 30.3082Z' fill='black'/%3e%3cpath d='M23.5899 26.9494L26.9486 30.3082L30.3077 26.9491L26.949 23.5904L23.5899 26.9494Z' fill='black'/%3e%3cpath d='M20.2309 23.5902L23.5899 26.9494L26.949 23.5904L23.59 20.2312L20.2309 23.5902Z' fill='black'/%3e%3cpath d='M16.872 20.2313L20.2309 23.5902L23.59 20.2312L20.231 16.8722L16.872 20.2313Z' fill='black'/%3e%3cpath d='M13.5132 16.8726L16.872 20.2313L20.231 16.8722L16.8723 13.5135L13.5132 16.8726Z' fill='black'/%3e%3cpath d='M10.154 13.5134L13.5132 16.8726L16.8723 13.5135L13.5131 10.1543L10.154 13.5134Z' fill='black'/%3e%3cpath d='M6.79508 10.1544L10.154 13.5134L13.5131 10.1543L10.1541 6.79532L6.79508 10.1544Z' fill='black'/%3e%3cpath d='M10.1541 6.79532L13.5131 10.1543L16.8722 6.79543L13.5131 3.43636L10.1541 6.79532Z' fill='black'/%3e%3cpath d='M3.43587 13.5134L6.79494 16.8724L10.154 13.5134L6.79508 10.1544L3.43587 13.5134Z' fill='black'/%3e%3cpath d='M3.43636 6.79567L6.79508 10.1544L10.1541 6.79532L6.79543 3.4366L3.43636 6.79567Z' fill='black'/%3e%3cpath d='M0.0771501 3.43671L3.43636 6.79567L6.79543 3.4366L3.43622 0.0776381L0.0771501 3.43671Z' fill='black'/%3e%3cpath d='M0.0771484 16.8721L3.43622 20.2311L6.79494 16.8724L3.43587 13.5134L0.0771484 16.8721Z' fill='black'/%3e%3cpath d='M0.0771494 23.5902L3.43622 26.9493L6.79529 23.5902L3.43622 20.2311L0.0771494 23.5902Z' fill='black'/%3e%3cpath d='M3.43622 26.9493L6.79543 30.3085L10.1545 26.9494L6.79529 23.5902L3.43622 26.9493Z' fill='black'/%3e%3cpath d='M13.5131 3.43636L16.8722 6.79543L20.2309 3.43671L16.8718 0.0776367L13.5131 3.43636Z' fill='black'/%3e%3cpath d='M3.43622 20.2311L6.79529 23.5902L10.1545 20.2313L6.79494 16.8724L3.43622 20.2311Z' fill='black'/%3e%3cpath d='M16.8722 6.79543L20.231 10.1547L23.5901 6.79567L20.2309 3.43671L16.8722 6.79543Z' fill='black'/%3e%3cpath d='M20.2309 3.43671L23.5901 6.79567L26.9491 3.43671L23.59 0.0776367L20.2309 3.43671Z' fill='black'/%3e%3cpath d='M23.5901 6.79567L26.949 10.1547L30.308 6.79567L26.9491 3.43671L23.5901 6.79567Z' fill='black'/%3e%3cpath d='M0.0771494 10.1546L3.43587 13.5134L6.79508 10.1544L3.43636 6.79567L0.0771494 10.1546Z' fill='black'/%3e%3cpath d='M6.79543 3.4366L10.1541 6.79532L13.5131 3.43636L10.1544 0.0776367L6.79543 3.4366Z' fill='black'/%3e%3c/svg%3e"), pointer;
}

.large-title {
	line-height: 1em;
	letter-spacing: 0.05em;
	font-size: 26vw;
}

h1,
h2,
h3 {
	text-transform: uppercase;
}

h1 {
	text-transform: uppercase;
	font-family: Suisse Int Med;
	font-size: min(max(32px, 3vw), 62px);
	line-height: 1em;
}

h1.our-pixels-head {
	font-size: 3rem;
	margin-bottom: 8vh;
	margin-bottom: 8vh;
}

h1::first-letter,
em {
	font-family: pixel;
}

h2 {
	font-size: 1.5rem;
	letter-spacing: .03em;
	text-align: left;
}

h4 {
	font-family: Suisse Int Med;
	color: #161616;
	font-size: .9rem;
	line-height: 1. 35em;
}

h3 {
	font-size: 1rem;
	line-height: 2em;
}

h5 {
	font-size: 2.25rem;
}

.hover-container h2,
.hover-container h5 {
	color: #161616;
}

h6 {
	color: #161616;
	font-size: 1.05rem;
	line-height: 1.45em;
}

h6.name {
	font-size: .85rem;
	line-height: 1.45em;
}

.dropdown h5 {
	padding: 2vh 0vw 1vh 6vw;
	/* or 167% */
	background: none;
	color: #2C3238;
}

.dropdown h5:hover {
	background-color: #161616;
	color: white;
}

.smallname {
	font-size: .5rem;
}

.large-title em {
	font-size: 26.75vw;
	letter-spacing: 0.05em;
}

.menu-items h5 {
	font-weight: 400;
	padding-left: 5vw;
	font-size: 4rem;
	line-height: 2em;
}

.gd-blue {
	color: #11EDD3;
}

.number {
	font-family: pixelnumber, sans-serif;
}

p {
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1em;
	color: #161616;
	line-height: 1.25em;
	letter-spacing: .015em;
}

p.poem-style {
	line-height: 1.5em;
	font-size: 1.15rem;
}

.menu-items h5::first-letter {
	font-family: pixel;
}

@media (max-width: 3000px) and (min-width: 1800px) {
	h3 {
		width: 64%;
	}
	.our-story-header-section h1 {
		width: 50%;
	}
	p.poem-style {
		width: 33%;
	}
	.welcome-section.section-global-styles h6 {
		width: 61%;
	}
	h6 {
		font-size: 1.25rem;
	}
	h2 {
		font-size: 2.5rem
	}
}

@media (max-width: 1799px) and (min-width: 1200px) {
	.menu-items h5 {
		font-size: 4rem;
		line-height: 2em;
	}
}

@media (max-width: 1199px) and (min-width: 899px) {
	.menu-items h5 {
		font-size: 4rem;
		line-height: 2em;
	}
}

@media (max-width: 898px) and (min-width: 599px) {
	.menu-items h5 {
		font-size: 4rem;
		line-height: 2em;
	}
}

@media (max-width: 598px) and (min-width: 401px) {
	.menu-items h5 {
		font-size: 4rem;
		line-height: 2em;
	}
}

@media (max-width: 400px) and (min-width: 0px) {
	h5 {
		font-size: 1rem;
	}
	.menu-items h5 {
		font-size: 3rem;
		line-height: 2em;
	}
}


/*Close type styles Section*/


/*Open Landing-Page*/

.landing-page {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: #11D2CC;
	justify-content: center;
	overflow-wrap: break-word;
	padding: 1vh 14vw 1vh 9vw;
	width: 100vw;
}

a.landing-page-arrow {
	color: #161616;
	margin-left: 8vw;
	font-family: unknown;
}

.landing-page-arrow-svg {
	height: 8vh;
}

@media (max-width: 3000px) and (min-width: 2001px) {
	a.landing-page-arrow {
		margin-left: 16vw;
	}
	.large-title em {
		font-size: 12.75vw;
		letter-spacing: 0.09em;
	}
	.large-title {
		font-size: 12vw;
		width: 100%;
		line-height: .9em;
		letter-spacing: .24;
		padding: 3rem;
	}
	.landing-page {
		padding: 7rem;
	}
}

@media (max-width: 2000px) and (min-width: 1200px) {
	.large-title em {
		font-size: 17.75vw;
		letter-spacing: 0.09em;
	}
	.landing-page {
		padding: 1vh 4vw 1vh 4vw;
	}
	a.landing-page-arrow {
		margin-left: 11vw;
	}
	.large-title {
		font-size: 15vw;
		width: 100%;
		line-height: .9em;
		letter-spacing: .24;
	}
}

@media (max-width: 1199px) and (min-width: 899px) {
	.large-title em {
		font-size: 18.75vw;
		letter-spacing: 0.06em;
	}
	.large-title {
		font-size: 18vw;
		letter-spacing: -0.05em;
	}
}

@media (max-width: 898px) and (min-width: 599px) {
	.large-title em {
		font-size: 23.75vw;
		letter-spacing: 0.06em;
	}
	.large-title {
		font-size: 21vw;
		letter-spacing: -0.05em;
	}
}

@media (max-width: 598px) and (min-width: 401px) {
	.large-title em {
		font-size: 27.75vw;
		letter-spacing: 0.05em;
	}
	.large-title {
		font-size: 26vw;
	}
}

@media (max-width: 400px) and (min-width: 0px) {}


/*Close Landing-Page*/


/*Open Grid Structure*/

div {
	box-sizing: border-box;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
	grid-auto-rows: 1fr;
	top: 0;
	box-sizing: border-box;
}

.grid::before {
	content: '';
	width: 0;
	padding-bottom: 100%;
	grid-row: 1 / 1;
	grid-column: 1 / 1;
}

.grid>*:first-child {
	grid-row: 1 / 1;
	grid-column: 1 / 1;
}

.webx-img-grid .grid>*:first-child {
	grid-row: 2/7;
	grid-column: 1/9;
}


/* Just to make the grid visible */

.grid>* {
	border-left: .1px gray solid;
	border-bottom: .1px gray solid;
}


/*Close Grid Structure*/


/*open Nav Bar*/

.header {
	display: flex;
	justify-content: space-evenly;
	background: white;
	flex-direction: row;
	position: fixed;
	border-bottom: solid #161616 .15px;
	align-items: flex-end;
	width: 100vw;
	top: 0;
}

.header,
.spacer {
	height: 8%;
	z-index: 9;
	background: white;
	width: 100vw;
}

svg#Logo_SVG {
	height: 5vh;
	width: 6vw;
}

.logo {
	display: flex;
	z-index: 99;
	position: absolute;
	width: 100%;
	margin: 0vh 0vw 0vh 2vw;
	height: 100%;
}

.number {
	font-family: pixelnumber;
}

.nav-links {
	text-align: left;
	right: 0;
	display: block;
	transform: translateX(100%);
	transition: all ease-in-out .3s;
	text-align: center;
	top: 0;
	display: flex;
	flex-direction: column;
	transition: all ease-in-out .3s;
	justify-content: flex-start;
	align-items: left;
	transform: translate(1000%);
	justify-content: baseline;
}

.nav .nav-links {
	display: flex;
}

.burger {
	cursor: pointer;
	display: block;
	margin: 1vh 1vw 0vh 0vw;
	right: 0;
	top: 0;
	z-index: 9999;
	position: absolute;
}

.nav-active {
	padding-top: 0vh;
	position: absolute;
	height: 100vh;
	background: #11EDD3;
	padding: 0;
	margin: 0;
	text-align: left;
	width: 100vw;
	transform: translateX(0%);
	z-index: 1;
}

.change .svg {
	opacity: 0;
}

.change .svg {
	-webkit-transform: rotate(45deg) translate(-2px, -2px);
	transform: rotate(45deg) translate(0px, 1px);
}

li.menu-items {
	border-bottom: solid #161616 .02px;
	background-color: none;
	width: 100vw;
}

.menu-items h5::first-letter {
	font-family: pixel;
}

.bar1 {
	margin: 6.5x;
	transition: all ease .3s;
}

.change .bar1 {
	transform: rotate(-90deg) translate(0px, 0px);
}

li.menu-items.our-pixels-menu-item a {
	background: #161616;
	color: #11EDD3;
}

li.menu-items.our-story-menu-item a {
	color: #161616;
	background: #11EDD3;
}

li.menu-items a {
	width: 100vw;
	height: 50vh;
	display: flex;
	justify-content: left;
	align-items: center;
}

li.menu-items {
	border-bottom: solid #161616 .02px;
	background-color: none;
	width: 100vw;
	height: 50vh;
	display: flex;
	justify-content: left;
	align-items: center;
}

@media (max-width: 3000px) and (min-width: 2200px) {
	li.menu-items.our-pixels-menu-item a:hover {
		color: #161616;
		background: #11EDD3;
	}
	li.menu-items.our-story-menu-item a:hover {
		background: #161616;
		color: #11EDD3;
	}
	li.menu-items a {
		transition: ease .5s;
		width: 50vw;
		height: 100vh;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	li.menu-items {
		width: 50vw;
		height: 100vh;
	}
	.nav-links {
		flex-direction: row;
	}
}
.header, .spacer {
    height: 6%;
    z-index: 9;
    background: white;
    width: 100vw;
}
}

@media (max-width: 2199px) and (min-width: 1800px) {
	li.menu-items.our-pixels-menu-item a:hover {
		color: #161616;
		background: #11EDD3;
	}
	li.menu-items.our-story-menu-item a:hover {
		background: #161616;
		color: #11EDD3;
	}
	li.menu-items a {
		transition: ease .5s;
		width: 50vw;
		height: 100vh;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	li.menu-items {
		width: 50vw;
		height: 100vh;
	}
	.nav-links {
		flex-direction: row;
	}
}

@media (max-width: 1799px) and (min-width: 1200px) {
	li.menu-items.our-pixels-menu-item a:hover {
		color: #161616;
		background: #11EDD3;
	}
	li.menu-items.our-story-menu-item a:hover {
		background: #161616;
		color: #11EDD3;
	}
	li.menu-items a {
		transition: ease .5s;
		width: 50vw;
		height: 100vh;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	li.menu-items {
		width: 50vw;
		height: 100vh;
	}
	.nav-links {
		flex-direction: row;
	}
	svg#Logo_SVG {
		height: 7vh;
		width: 9vw;
	}
}

@media (max-width: 1199px) and (min-width: 899px) {
	svg#Logo_SVG {
		height: 5vh;
		width: 13vw;
	}
	li.menu-items.our-pixels-menu-item a:hover {
		color: #161616;
		background: #11EDD3;
	}
	li.menu-items.our-story-menu-item a:hover {
		background: #161616;
		color: #11EDD3;
	}
	li.menu-items a {
		transition: ease .5s;
		width: 50vw;
		height: 100vh;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	li.menu-items {
		width: 50vw;
		height: 100vh;
	}
	.nav-links {
		flex-direction: row;
	}
}

@media (max-width: 898px) and (min-width: 599px) {
	svg#Logo_SVG {
		height: 8vh;
		width: 16vw;
	}
}

@media (max-width: 598px) and (min-width: 401px) {
	svg#Logo_SVG {
		height: 7vh;
		padding-left: 1rem;
		width: 30vw;
	}
}

@media (max-width: 400px) and (min-width: 0px) {
	svg#Logo_SVG {
		height: 10vh;
		width: 32vw;
	}
}


/*close Nav Bar */


/*Welcome Section Open*/

.section-global-styles {
	justify-content: center;
	flex-direction: column;
	background: white;
	display: flex;
	grid-column: 1/3;
}

.welcome-section,
.pixels-poem-section,
.Our-Pixels-Desc-Section.section-global-styles {
	padding: 1vh 4vw 2vh 7vw;
}

.welcome-section {
	grid-row: 1/4;
	justify-content: center;
}

.welcome-section div:first-child {
	margin-bottom: 5vh;
}

.our-story-header-section {
	grid-row: 5/7;
	padding: 4vh 11vw;
}

.our-story-header-section h1 {
	width: 75%;
}

.pixels-poem-section {
	grid-row: 9/19;
}

.our-pixels-arrow-next {
	align-items: center;
}

.pixels-poem-section {
	grid-row: 8/14;
	padding: 4vh 11vw;
}

.our-pixels-arrow-next {
	grid-row: 1;
	grid-column: 2/3;
	padding-left: 8vw;
	grid-row: 14/15;
}

.unknown-symbol {
	font-family: unknown;
}

#arrow_svg {
	height: 3vh;
	margin-left: 3vw;
	color: #11EDD3;
}

svg#Layer_1 {
	transition: all ease-in-out .4s;
	height: 7vh;
	text-align: center;
	display: flex;
	border: none;
	opacity: 0;
	align-self: center;
	justify-self: center;
}

.checkers_svg {
	grid-row: 6/7;
	grid-column: 9/10;
	opacity: 0;
	transition: all ease-in-out .4s;
}

svg#Layer_1:hover {
	opacity: 1;
}

#arrow_svg {
	height: 3vh;
	margin-left: 3vw;
	color: #11EDD3;
}

@media (max-width: 3000px) and (min-width: 2300px) {
	.our-pixels-arrow-next:hover {
		transition: ease-in-out .2s;
	}
	.our-pixels-arrow-next:hover {
		background: #161616;
		color: #11EDD3;
	}
	.our-pixels-arrow-next:hover a{

		color: #11EDD3;
	}
	.welcome-section {
		grid-row: 2/7;
		padding: 6em;
		grid-column: 2/13;
	}
	.our-story-header-section {
		grid-row: 10/13;
		padding: 4vh 1vw;
		grid-column: 9/14;
		grid-column: 3/6;
	}
	.pixels-poem-section {
		grid-row: 14/25;
		grid-column: 13/26;
		padding: 2vw 3vh 3vw 6vh;
		grid-row: 10/21;
		grid-column: 12/18;
	}
	.our-pixels-arrow-next {
		grid-row: 8/9;
		padding: 1em;
		grid-column: 12/18;
	}
}

@media (max-width: 2299px) and (min-width: 1900px) {
	.welcome-section {
		grid-row: 2/7;
		padding: 6em;
		grid-column: 2/12;
	}
	.our-story-header-section {
		grid-row: 10/13;
		padding: 4vh 1vw;
		grid-column: 9/14;
		grid-column: 2/5;
	}
	.pixels-poem-section {
		padding: 2vw 3vh 3vw 6vh;
		grid-row: 10/21;
		grid-column: 8/14;
	}
	.our-pixels-arrow-next {
		grid-row: 8/9;
		padding: 1em;
		grid-column: 8/14;
	}
}

@media (max-width:1899px) and (min-width: 150px) {
	.welcome-section {
		grid-row: 2/6;
		padding: 4vh 1vw 3vh 3vw;
		grid-column: 2/10;
	}
	.our-story-header-section {
		grid-row: 9/12;
		grid-column: 9/14;
		padding: 1vh 1vw 1vh 1vw;
		grid-column: 2/5;
	}
	.pixels-poem-section {
		padding: 1vh 1vw 3vh 3vw;
		grid-row: 9/16;
		grid-column: 7/12;
	}
	.our-pixels-arrow-next {
		grid-row: 7/7;
		grid-column: 7/12;
	}
}

@media (max-width:1499px) and (min-width:1000px) {
	.section-global-styles {
		grid-column: 1/4;
	}
	.welcome-section {
		grid-row: 2/5;
		grid-column: 2/7;
	}
	.our-story-header-section {
		grid-row: 8/10;
		grid-column: 2/4;
		padding: 2vh 2vw;
	}
	.pixels-poem-section {
		grid-column: 5/8;
		grid-row: 8/16;
	}
	.our-pixels-arrow-next {
		grid-row: 6/7;
		padding-left: 5vw;
		grid-column: 5/8;
	}
	.welcome-section,
	.pixels-poem-section,
	.Our-Pixels-Desc-Section.section-global-styles {
		padding: 2vh 3vw 0vh 4vw;
	}
}

@media (max-width:999px) and (min-width: 799px) {
	.section-global-styles {
		grid-column: 1/8;
	}
	.welcome-section {
		grid-row: 2/5;
	}
	.our-story-header-section {
		grid-row: 6/8;
	}
	.pixels-poem-section {
		grid-row: 8/14;
	}
	.our-pixels-arrow-next {
		grid-row: 14/15;
		grid-column: 2/4;
	}
}

@media (max-width: 800px) and (min-width: 501px) {
	.section-global-styles {
		grid-column: 1/4;
	}
	.welcome-section {
		grid-row: 2/5;
	}
	.our-story-header-section {
		grid-row: 6/8;
	}
	.pixels-poem-section {
		grid-row: 8/14;
	}
	.our-pixels-arrow-next {
		grid-row: 14/15;
		grid-column: 2/4;
	}
}

@media (max-width: 500px) and (min-width: 375px) {
	.section-global-styles {
		grid-column: 1/4;
	}
	.welcome-section {
		grid-row: 1/4;
	}
	.our-story-header-section {
		grid-row: 5/6;
		align-items: center;
	}
	.pixels-poem-section {
		grid-row: 6/12;
		padding: 7vh 17vw 6vh 12vw;
	}
	.our-pixels-arrow-next {
		grid-row: 12/13;
		grid-column: 2/4;
	}
}

@media (max-width: 375px) and (min-width: 0px) {}


/*smiley scroll open*/

.cls-1 {
	fill: #11edd3;
}

.smiley_scroll {
	position: relative;
	width: 50%;
	max-width: 300px;
}

.smiley_svg {
	display: block;
	width: 100%;
	height: auto;
}

.smiley_svg_HEART {
	margin-bottom: 2vh;
	height: 3Vh;
}

.smiley_text {
	opacity: 0;
	z-index: 1;
}

.smiley_scroll:hover .smiley_text {
	opacity: 1;
}

.smiley_scroll {
	position: fixed;
	right: 0;
	justify-content: flex-end;
	display: flex;
	top: 50%;
	max-width: 6vw;
}

.smiley_svg {
	display: block;
	width: 12vw;
	height: 9vh;
	max-width: 200%;
}

.smiley_text {
	border-radius: 0;
	visibility: hidden;
	transition: all ease .3s;
	background-color: #11EDD3;
	color: #fff;
	text-align: left;
	height: 0vh;
	top: -15vh;
	border: #161616 solid 2px;
	padding: 3vw 1vh;
	right: 12vw;
	position: absolute;
	z-index: 1;
	width: 44vw;
}

.smiley_scroll:hover .smiley_text {
	transition: all ease .3s;
	visibility: visible;
	height: auto;
}

@media (max-width: 3000px) and (min-width: 2300px) {
	.smiley_text {
		height: 0vh;
		top: -8vh;
		padding: 3vw 1vh;
		right: 8vw;
		width: 8vw;
	}
}


/*smiley scroll close*/


/*Our Pixels Open*/


/*Our-Pixels Description Componet Open*/

.Our-Pixels-abc-filter,
.Our-Pixels-Desc-Section.section-global-styles {
	grid-column: 1/3;
}

.Our-Pixels-Desc-Section.section-global-styles {
	grid-row: 1/4;
	justify-content: center;
}

img.our-pixels_smiley {
	height: 6vh;
	position: absolute;
	right: 21px;
	top: 22vh;
}

h2.pixel-perfect {
	display: none;
	;
}

.Our-Pixels-abc-filter {
	grid-row: 3/4;
	height: 5vh;
	align-self: self-end;
	overflow-x: hidden;
}

.Our-Pixels-Desc {
	width: 68%;
	display: flex;
	flex-direction: column;
	height: 65%;
	justify-content: end;
}

.Our-Pixels-image,
.degree-projects {
	display: none;
}

.abc-arrow {
	display: none;
}

@media (max-width: 3000px) and (min-width: 1200px) {
	.abc-arrow {
		display: block;
	}
	.Our-Pixels-image,
	.degree-projects {
		display: block;
	}
	img.our-pixels_smiley {
		display: none;
	}
	.Our-Pixels-image {
		border-bottom: solid #161616 .1px;
		padding: 3.2vh 2.68vw;
	}
	.Our-Pixels-Desc {
		width: 100%;
		display: flex;
		padding: 10v;
		flex-direction: column;
		height: 100%;
		justify-content: end;
	}
	.Our-Pixels-Desc-Section.section-global-styles {
		grid-row: 1/11;
		grid-column: 1/5;
		padding: 0;
	}
	.Our-Pixels-abc-filter {
		grid-row: 1/2;
		align-items: center;
		grid-column: 5/21;
		justify-content: space-between;
		display: flex;
		height: 100%;
		overflow-x: hidden;
	}
	.our-pixels-bottom-desc {
		padding: 2rem;
	}
	h1.our-pixels-head {
		font-size: 3rem;
		margin-bottom: 8vh;
		border-bottom: solid #161616 .1px;
		margin-bottom: 4vh;
		padding: 2.4rem;
	}
}


/*Our-Pixels Description Componet Close*/

h2.close-x {
	border-bottom: solid black .1px;
	padding-left: 56vw;
}

.pop-up {
	position: absolute;
	height: 56vh;
	padding: 0em;
	display: flex;
	width: 100vw;
	justify-content: space-between;
	display: block;
	display: grid;
	opacity: 1;
	top: 93vh;
	left: 24vw;
	z-index: 9;
	background: #11EDD3;
	width: 64vw;
}

img.pop-up-image {
	height: 26vh;
	margin-bottom: 5vh;
}

img.pop-up-arrow {
	height: 3vh;
	bottom: 0;
	border-top: solid black .1px;
	margin-top: 6vh;
	padding-left: 56vw;
}

.hover-container {
	grid-row: span 1;
	display: flex;
	grid-column: span 1;
	width: 100%;
	transition: ease-in .2s;
	z-index: 1;
}

.hover-container img {}

.display-flex {
	display: flex;
	opacity: .5;
	height: 100%;
	transition: ease-in .2s;
}

.display-flex:hover {
	padding: 0;
	display: flex;
	opacity: 1;
}

.display-flex a {
	display: flex;
	pointer-events: none;
}

.hover-container img {
	object-fit: cover;
	z-index: 1;
}

.one-hover-child-image,
.one-hover-child {
	display: none;
}

@media (max-width: 3000px) and (min-width: 1200px) {
	.pop-up {
		display: none;
	}
	.hover-container {
		grid-row: span 2;
		grid-column: span 2;
		transition: ease-in .2s;
	}
	.hover-container img {
		object-fit: cover;
		z-index: 1;
		cursor: pointer;
	}
	.hover-container .one-hover-child,
	.hover-container .one-hover-child-image {
		opacity: 0;
		display: none;
		transition: ease-in .2s;
	}
	.hover-container .one-hover:hover~.one-hover-child {
		background-color: white;
		color: white;
		z-index: 9;
		opacity: 1;
		top: 57%;
		left: 0;
		transition: ease-in .2s;
		width: 19%;
		overflow: auto;
		position: absolute;
		padding: 7vh 1vw 1vh 1vw;
		display: block;
	}
	.hover-container .one-hover:hover~.one-hover-child-image {
		transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		color: white;
		z-index: 9;
		opacity: 1;
		top: 19.5%;
		left: 3vw;
		width: 13.7vw;
		overflow: auto;
		position: absolute;
		padding: 7vh 1vw 1vh 1vw;
		display: block;
	}
}

@media (max-width: 375px) and (min-width: 0px) {
	.hover-container img {
		object-fit: cover;
		z-index: 1;
	}
}


/*Our-Pixels Description Main Hover grid* Close*/


/*Our Pixels Back button Open*/

@media (max-width: 3000px) and (min-width: 1200px) {
	.our-story-arrow-back {
		grid-column: 13/18;
		grid-row: 11/12;
		align-items: center;
		display: flex;
		justify-content: center;
	}
	button.collapsible.active {
		display: none;
	}
}


/*Our Pixels Back button Close*/


/*Our Pixels Section Close*/


/*Footer open*/

footer {
	position: fixed;
	left: 0;
	height: 5%;
	display: flex;
	align-items: center;
	bottom: 0;
	justify-content: flex-end;
	width: 100%;
	background-color: #161616;
	color: white;
	text-align: center;
	z-index: 999;
	padding: 1rem;
}

footer li a {
	color: white;
	font-size: .75rem;
	margin: 4vh 1vw 1vh 7vw;
}

img.output-arrow {
	height: 1vh;
	padding-top:.1vh;
}
@media (max-width: 3000px) and (min-width: 1200px) {
footer li a {
	color: white;
	font-size: .75rem;
	margin: 4vh 1vw 1vh 2vw;


}
footer{
	height:;
	height: 4%;
}
}
/*Footer close*/